[user]
	name = steff
	email = steffen.eriksen@somemail.com
[core]
	safecrlf = false
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	undo = reset --soft HEAD~1
	uc = reset --soft HEAD~1
	last = log -1 HEAD
	lastp = log -1 HEAD --pretty=oneline
	lastp5 = log -5 HEAD --pretty=oneline
	last5 = log -5 HEAD
	ac = !git add . && git commit -am
	rao = remote add origin
	pushitgood = push -u origin --all
	fs = !git fetch && git status
	dad = !curl -s https://icanhazdadjoke.com/ && git add
	pushup = push --set-upstream origin
	getdev = !git checkout -b develop && git branch --set-upstream-to=origin/develop develop
	initdev = !git checkout -b develop && git push --set-upstream origin develop


